@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Math Calculator</h2>
    <input type="text" id="mathInput" placeholder="Enter math(e.g., 2 + 2)" />
    <button onclick="calculate()">Calculate</button>
    <p id="result"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    async function calculate() {
        const value = document.getElementById("mathInput").value;
        try{
            const response = await axios.post('https://localhost:7058/api/calculate', JSON.stringify(value), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-API-KEY': 'globalblue1234'
                }

            });

            if (response.data != null) {
                const result = await response.data;
                document.getElementById("result").innerText = "Result: " + result;
            } else {
                document.getElementById("result").innerText = "Error: Invalid Request";
            }
        }
        catch(error)
        {
            console.error(error.response.data)
            document.getElementById("result").innerText = "Error: Invalid Request";
        }
    }
</script>
